$main-light: #faebd7;
$accent-main: #a52a2a;
$main-dark: #161616;
$button-hover: #cb0b14;
$button-avtive: #eb343d;
$input-bg-color: #f8f8fa;
$input-color: #7e7e83;
$secondary-accent: #616070;
$white-color: #fff;
$bold-text: 700;
$effectDuration: 0.3s;
$min-phone_width: 488px;
$min-tablet_width: 768px;
$min-desktop_width: 1024px;
